### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
# *.pptx
*.sdf
*.tax2010
*.vcf
*.xml
*.txt

### Images ###
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.heic

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

*.png
*.gif

venv/
*.pyc